* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: cursive;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
p,
h1,
h2,
h3,
h4,
h5 {
  color: #e32742;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */

.container {
  display: block;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* The main container elements  */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------*/

/* nav on normal computer */
.navbar {
  background-color: #19142a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
/* for the logo */
.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: white;
  top: 20px;
}
/* the three spans for the icon */
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
/*  main ul*/
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* the li */
.nav-item {
  margin-left: 5rem;
}
/* the links inside the li */
.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
}

.nav-link:hover {
  color: #482ff7;
}

/*  responsiveness Nav bar*/
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0rem;
    flex-direction: column;
    background-color: #121f63;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */

/* main thing that takes the whole screen */
.home {
  background-color: #19142a;
  height: 100vh;
}
#test {
  background-image: url(/img/schadii22222.jpg);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  height: 100%;
  padding: 3rem 0 0 0;
}
.wraper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.wraper h2 {
  color: white;
}
@media (max-width: 450px) {
  #test {
    background-size: cover;
  }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/* the skills section when scrolling down */
.card-row {
  height: 70vh;
}
.card {
  float: left;
  width: 33.33%;
}
.content-card {
  box-shadow: 3px 3px 5px 6px white;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}
.card img {
  width: 50%;
  border-radius: 2px;
  height: 50%;
  object-fit: cover;
}
@media screen and (max-width: 900px) {
  .card {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.skill {
  background-color: #110d1d;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.newest {
  background-color: #1e1e26;
  height: 90vh;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */

/* for the cards in the blog page not responsive */
.row {
  margin: 10px -16px;
}

.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 33.33%;
  display: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.content img {
  width: 100%;
}

.content {
  height: 400px;
  background-color: white;
  padding: 10px;
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

/* Responsive layout  */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */

/* form on the form page */
form {
  width: 50%;
  display: block;
}
label {
  display: inline-block;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid white;
  border-radius: 15px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.form-p {
  color: white;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */

footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.74);
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}

footer p {
  font-size: 16px;
  color: white;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.question {
  padding-bottom: 15px;
}

.bottom_border {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

.contact {
  display: flex;
  justify-content: space-between;
}
.footer-nav {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.footer-nav li {
  display: inline;
}
.footer-nav li a {
  color: white;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}

@media (max-width: 800px) {
  .contact {
    flex-direction: column;
  }
  form {
    width: 100%;
  }
}
