html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #d8253b;
}
li {
  list-style-type: none;
}
p,
h1,
h2,
h3,
h4,
h5,
a {
  font-weight: 400px;
  color: white;
}

/* main container css */
.container {
  display: block;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* The main container elements  */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Nav Bar */
.navbar {
  /* position: fixed; */
  width: 100%;
  background-color: #19142a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  z-index: 99;
}
/* for the logo */
.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: white;
  top: 20px;
}
/* the three spans for the icon */
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
/*  main ul*/
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* the li */
.nav-item {
  margin-left: 5rem;
}
/* the links inside the li */
.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
}

.nav-link:hover {
  color: #d8253b;
}
#download {
  color: #d8253b;
}

/*  responsiveness Nav bar*/
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0rem;
    flex-direction: column;
    background-color: #19142a;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 99;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 100;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* for the main  */
.home {
  height: 100vh;
  background-image: url(/img/schadii22222.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-attachment: fixed;
}
.home h1 {
  padding-left: 2rem;
}
/* extra large screens */
@media (max-width: 1000px) {
  .home {
    background-position: -100px;
  }
}
@media (max-width: 800px) {
  .home {
    background-position: -100px;
  }
}

/* @media (min-width: 768px) {
  .home {
  }
}
@media (min-width: 576px) {
  .home {
  }
} */
.home h1 {
  font-size: 2rem;
}
.home span {
  color: #d8253b;
  font-size: 3rem;
}
/* style main ends */
/* for the about / skills */
.about {
  padding: 25px;
  background-color: #2a2345;
  display: flex;
}
.about h2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  .about {
    flex-direction: column;
  }
}

.left {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d8253b;
  padding: 2rem;
  width: 12rem;
  height: 100px;
  border-radius: 0px 20px 0px 20px;
  background: #19142a;
  position: relative;
  box-shadow: none;
  transition: transform 300ms ease-in-out, box-shadow 400ms ease,
    background 100ms ease;
}
.box:hover,
.box:focus-within {
  color: white;
  background: #d8253b;
  box-shadow: 0 1rem 1rem white;
  transform: translateY(-0.5rem);
}

.box h3 {
  font-size: 2rem;
}

/* .box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  width: 35.3%;
  height: 100px;
  border: 2px solid red;
} */

.right {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right p {
  margin-top: 10px;
}
/* for the progress section  */
.progress {
  background-color: #19142a;
  padding: 25px;
}
.progress h2,
p {
  margin: 10px 0;
}

/* for the cards in the progress sections */

.card-links {
  margin-top: 16px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.box-card {
  color: #d8253b;
  padding: 2rem;
  width: 20rem;
  height: 250px;
  background: #2a2345;
  border-radius: 0px 20px 0px 20px;
  position: relative;
  box-shadow: none;
  transition: transform 300ms ease-in-out, box-shadow 400ms ease,
    background 100ms ease;
}

.box-card > * + * {
  margin-top: 1em;
}
.box-card:hover,
.box-card:focus-within {
  color: white;
  background: #d8253b;
  border-radius: 0px 20px 0px 20px;
  box-shadow: 0 1rem 1rem white;
  transform: translateY(-0.5rem);
}
/* for the button on the card */
.breakout-button {
  font: inherit;
  font-weight: 600;
  padding: 0.6rem 2rem;
  background: transparent;
  color: currentcolor;
  border: 1px solid;
  transition: background 100ms ease;
  position: static;
}

.breakout-button,
.breakout-button::before {
  cursor: pointer;
}

.breakout-button::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.breakout-button:focus {
  outline: none;
}

.breakout-button:hover {
  background: #2a2345;
}
@media (max-width: 350px) {
  .box-card {
    height: 350px;
  }
}
/* for the blog page  */
.box-card-blog {
  color: #d8253b;
  padding: 2rem;
  width: 20rem;
  height: 400px;
  background: #2a2345;
  border-radius: 0px 20px 0px 20px;
  position: relative;
  box-shadow: none;
  transition: transform 300ms ease-in-out, box-shadow 400ms ease,
    background 100ms ease;
}
.box-card-blog:hover,
.box-card-blog:focus-within {
  color: white;
  background: #d8253b;
  box-shadow: 0 1rem 1rem white;
  transform: translateY(-0.5rem);
}

.box-card-blog > * + * {
  margin-top: 1em;
}
.more-link {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 1.5rem;
}

/* for both the blog page and home page */
.breakout-button:focus::before {
  outline: 1px solid #ffffff;
  outline-offset: -0.8rem;
}
@media (max-width: 1200px) {
  .card-links {
    flex-direction: column;
  }
  .box-card {
    margin: 25px 0;
    width: 100%;
  }
  .box-card-blog {
    margin: 25px 0;
    width: 100%;
    height: 300px;
  }
}
@media (max-width: 768px) {
  .box-card-blog {
    margin: 25px 0;
    width: 100%;
    height: 350px;
  }
}
@media (max-width: 429px) {
  .box-card-blog {
    margin: 25px 0;
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 334px) {
  .box-card-blog {
    margin: 25px 0;
    width: 100%;
    height: 450px;
  }
}
@media (max-width: 284px) {
  .box-card-blog {
    margin: 25px 0;
    width: 100%;
    height: 500px;
  }
}

/* for the entries in the blog section*/
.img-fluid {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: thin solid white;
  border-radius: 0px 20px 0px 20px;
}

/* for the next and previous buttons in the entries  */
.nex-prev {
  display: flex;
  justify-content: space-between;
}
.nex-prev button {
  margin: 10px 0px;
  background-color: #d8253b;
  color: white;
  padding: 12px 20px;
  border: thin;
  border-radius: 0px 20px 0px 20px;
  cursor: pointer;
}
.nex-prev button:hover {
  background-color: #2a2345;
}

/* for the footer */

.footer-home {
  padding: 25px;
  width: 100%;
  background-color: #2a2345;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}
.footer-home h2 {
  margin: 16px 0;
}
.footer-home p {
  font-size: 18px;
  color: white;
  padding-bottom: 10px;
  margin: 8px 0;
}
.question {
  padding-bottom: 15px;
}

.bottom_border {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

.contact {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

form {
  width: 55%;
  display: block;
}
label {
  display: inline-block;
}
input[type="text"],
select,
textarea {
  background-color: beige;
  width: 100%;
  padding: 12px;
  border: 1px solid #19142a;
  border-radius: 0px 20px 0px 20px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: #19142a;
  color: white;
  padding: 12px 20px;
  border: thin;
  border-radius: 0px 20px 0px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  color: #d8253b;
}
.form-p {
  color: white;
}
@media (max-width: 800px) {
  .contact {
    flex-direction: column;
  }
  form {
    width: 100%;
  }
}

.footer-nav {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.footer-nav li {
  display: inline;
}
.footer-nav li a {
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.icon {
  font-size: 27px;
  color: white;
}
/* for the footer in pages other than the main one */

.footer-other {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.footer-other ul {
  display: flex;
}
